body {
  margin: 0;
}
.margin {
  margin: 100px;
}

.table {
  width: 100%;
  text-align: left;
}

.table td {
  padding: 10px 0;
}

#header {
  background-color: #253a46;
  padding: 20px;
  font-size: 20px;
}

#header a{
  color: white;
  padding-right: 50px;
}

.center {
  text-align: center;
}