@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");

//COLORS
$bg-primary: #000000;
$bg-secondary: rgba(#303030, 0.5);
$textColor-pimary: #e5e5e5;
$textColor-secondary: #c4c4c4;
$textColor-tertiary: #bdbdbd;

$mainColor: #ffe3f1;
$gradient: 193.94deg, #009190 24.85%, #a1d9e2 42.79%, #ffe3f1 82.07%;
$border-gradient: 136.25deg, rgba(255, 227, 241, 0.6) 5.9%,
  rgba(189, 189, 189, 0) 48.02%, rgba(255, 227, 241, 0.6) 86.29%;

//FONTS
$font-title: "Josefin Sans", sans-serif;
$font-body: "DM Sans", sans-serif;

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $bg-primary;
  color: $textColor-pimary;
}

a {
  text-decoration: none;
  color: none;
}
