@import "../main.scss";

.users {
  padding: 0 200px;
}

.usersList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 70px;
  margin: 50px 0;
}

.userDetails {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 50px;
}

.userDetails__content {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
